[2016-08-14 12:57] pbleonard opened #1 "GFlow: ASCII inputs to node list"
If user inputs ASCII input for habitats, convert to point pair list.

[2016-08-14 13:00] Pbleonard opened #2 "GFlow: Customizable convergence criterion"
User input: desired number of 9s or 1-Delta Convergence.
Update execute script comments with flag info.

[2016-08-14 13:02] Pbleonard opened #3 "Gflow: Shuffled Pairs List"
Include snippet that allows user to create all pairs .txt from which a random selection can then be made. Not sure about status? Already included?

[2016-08-14 14:04] eduffy opened #4 "Killswitch"
There's currently no clean way of prematurely ending a simulation.  Using Ctrl-C or `kill` to terminate the master process may accidentally leave process alive on other nodes.

[2016-08-14 15:26] #4 closed, assigned to eduffy

[2016-08-14 16:34] #1 closed, assigned to eduffy

[2016-08-15 21:21] pbleonard opened #5 "GView: Merge branch."
Add documentation in Readme

[2016-08-16 20:09] #5 closed, assigned to pbleonard

[2016-08-17 00:11] eduffy commented on #2
Are you wanting to provide the convergence as either "4N" or "0.0001" or "1e-4" or all of the above?

[2016-08-17 00:34] eduffy commented on #3
This feature is now builtin.  The patch 3593cd6 adds a new flag `-shuffle_node_list` to shuffle the node list.  It does not, however, truncate the list to a predefined number of pairs (like you can do with `shuf`).

[2016-08-17 00:39] Pbleonard commented on #2
MS uses # of 9s convention. That should do.

[2016-08-17 00:46] #3 closed

[2016-08-17 01:24] eduffy commented on #2
I committed an untested version of this to ead64df. Please give it a shot when you have a chance to run a real world problem on the cluster.  The new flag is `-converge_at` and you may supply the convergence factor in any of the 3 formats above.

[2016-08-19 18:38] Pbleonard opened #6 "Run Log"
I noticed when testing `converge_at` that no log files were printed after a completed run. Is there a log flag?

[2016-08-19 19:01] eduffy commented on #6
No. Since I always ran this in PBS the terminal output was automatically redirected to a file.

[2016-08-19 19:16] Pbleonard commented on #6
Gotcha. I think that would be the only way for us to collect R_eff?

[2016-08-19 20:07] eduffy commented on #6
Okay, now I see what you're getting at.  I'll into this (hopefully on Sunday)

[2016-08-20 20:36] eduffy commented on #6
New flag `-effective_resistance <path to log>` to support this.  See 6161a09.

[2016-08-20 20:38] eduffy commented on #2
Commit 35c0b84 should have this final fixed for realzies this time (thanks for the smaller input file).

[2016-08-21 20:41] #2 closed

[2016-08-21 20:41] #6 closed

[2016-10-02 18:33] eduffy opened #7 "[gview] Statistical breaks"
@Pbleonard - Are these the breaks you're wanting?

https://en.wikipedia.org/wiki/Chebyshev%27s_inequality#Probabilistic_statement

[2016-10-02 19:23] Pbleonard commented on #7
@eduffy That certainly looks like one interesting way to view. Might be applicable given different underlying distributions. These are more what I was thinking (prolly easier and more common) but I like where you're going:
https://saylordotorg.github.io/text_essentials-of-geographic-information-systems/s10-03-data-classification.html

[2016-10-02 19:24] eduffy commented on #7
Thanks .. that looks helpful.

On Sun, Oct 2, 2016 at 3:23 PM, Paul Leonard <notifications@github.com>
wrote:

[2016-10-02 19:32] Pbleonard commented on #7
The 4 reviewed are super common and cover most distributions in some way. For us I think there are probably 2 here that would be useful:

1. Standard Deviation
2. Natural Breaks

and Geometric Interval would likely be super useful here (sorry doesn't say how to do it here but should be able to find easily):
http://wiki.gis.com/wiki/index.php/Geometric_Interval_Classification

[2016-10-02 19:47] eduffy commented on #7
Great, thanks... I'll start working on implementing these in the viewer

sent from my mobile.

On Oct 2, 2016 3:32 PM, "Paul Leonard" <notifications@github.com> wrote:

[2016-10-06 01:00] eduffy commented on #7
I'm going to implement these first in a Python notebook, to make it easier to compare approaches.  3562eac is a start ... includes the two already in `gview`, plus the Standard Deviation calculation.

[2016-10-08 00:22] eduffy commented on #7
I've updated the notebook.

1. Geometric Interval is parameterized (if I'm reading the docs correctly, it's pretty close to what `gview` was already doing)
2. I found a C library with a Python interface to calculate the Jenks classes, but it was overheating my laptop.  You may have more luck on your desktop. You need to install an additional package from here: https://github.com/perrygeo/jenks
3.

[2016-10-08 15:05] Pbleonard commented on #7
Still traveling, will try to check this out on road today.

On Fri, Oct 7, 2016 at 8:22 PM, Edward Duffy <notifications@github.com>
wrote:

--
Paul Leonard, PhD
School of Agricultural, Forest, and Environmental Sciences
Clemson University
245 Lehotsky Hall
Office: (864) 656-4823
conservationcomputing.com

[2016-10-12 16:34] Pbleonard opened #8 "Node location ID"
@eduffy Instead of each pairwise solution being numbered by iteration is it possible to name each pairwise calculation based on its location so one can go back and inspect a particular set of nodes? This is probably most important for the `effective_resistance` output!

[2016-10-13 21:28] Pbleonard opened #9 "GView Illustrations"
@eduffy

**Ideas we've discussed:**
- [ ] Animated .gif with one node 'locked' in and connected to random nodes at each frame (possibly LCPs)
- [X] Gview output overlaid with shaded relief (Awful)
- [x] CD with LCP vectors of inverse transparency
- [ ] Others I can't currently remember

[2016-10-17 20:26] Pbleonard commented on #3
@eduffy: It looks like the flat is actually `-shuffle_node_pairs`

[2016-10-17 21:10] eduffy commented on #3
Flat=fault?
What makes you say that? This is the MHI test?

sent from my mobile.

On Oct 17, 2016 10:26 PM, "Paul Leonard" <notifications@github.com> wrote:

[2016-10-17 21:31] Pbleonard commented on #3
@eduffy  I isolated the problem on Palmetto I was telling you about with new flags. Will not accept new flag `shuffle_node_pairs`. I went back to this location to make sure that was the correct syntax in commit. It appears to be. However in the comment above you list `shuffle_node_list`. Regardless, even with the correct syntax the flag is creating some problem on Palmetto. Works fine locally thou

[2016-10-17 21:38] eduffy commented on #3
Okay. I'll look into it when I get back

sent from my mobile.

On Oct 17, 2016 11:31 PM, "Paul Leonard" <notifications@github.com> wrote:

[2016-12-12 22:49] gioman opened #10 "Errors compiling on Ubuntu 16.04"
Hi, thanks for the updated Readme for Linux. I followed the instructions and changed the Makefile in order to point to the petsc installation folder, in the case of Ubuntu 16.04

/usr/lib/petscdir/3.6.2/x86_64-linux-gnu-real

When running make beside the warnings also a lot of "too many arguments to function" errors are shown. Any idea of what could be the issue?

Thanks in advance

------

giovan

[2016-12-13 13:15] gioman commented on #10
@Pbleonard it compiled fine on Ubuntu 16.10. As 16.10 is not a LTR release would be good to have GFlow compilable also on LTR Ubuntu releases, but of course feel free to close this ticket.

[2016-12-13 13:18] gioman opened #11 "mpiexec noticed that process rank 0 with PID 1969 on node ubuntu exited on signal 9 (Killed)"
On Ubuntu 16.10 on a machine with 16gb of RAM when launching the "execute_sample.sh" script I get:

[code]

@FrankVal

[2016-12-13 13:25] gioman commented on #11
seen this in logs

Dec 13 13:13:32 ubuntu kernel: [   86.041443] Out of memory: Kill process 1969 (gflow.x) score 328 or sacrifice child
Dec 13 13:13:32 ubuntu kernel: [   86.041479] Killed process 1969 (gflow.x) total-vm:6002488kB, anon-rss:792508kB, file-rss:292kB, shmem-rss:0kB
Dec 13 13:13:32 ubuntu kernel: [   86.106863] oom_reaper: reaped process 1969 (gflow.x), now anon-rss:4kB, file-rss:0k

[2016-12-13 14:35] Pbleonard commented on #11
Interesting...I just tested on 16Gb yesterday and no memory errors.

Also, yes I have had problems using earlier versions of petsc (<.3.7.3)
which is default dev with Ubuntu 16.10 but still phill dig some. Should
work with LTR and petsc 3.7.3.

Will try some things later this AM

On Tuesday, December 13, 2016, Giovanni Manghi <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@gi

[2016-12-13 14:55] gioman commented on #11
I will try to install/compile petsc >= 3.7.3 on Ubuntu 16.04 and let you know.

[2016-12-13 17:34] gioman commented on #11
@Pbleonard

will test again on another machine asap.

Meanwhile I'm testing also on a Macbook pro (8gb of ram, i5 2.6ghz): installing dependencies and compiling was ok. Now I started the execute_example script with your sample data

[code]

it took almost 30 minutes to solve the first pair, is that expected?

thanks in advance

[2016-12-13 19:52] Pbleonard commented on #11
Out of office today. How many cores are you using in example script? Can
send you smaller inputs to test tomorrow but you may also want to check
benchmarks in manuscript for rough estimate. Example inputs are rather
large for that hardware

On Tuesday, December 13, 2016, Giovanni Manghi <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-12-14 00:56] #10 closed

[2016-12-14 01:38] eduffy commented on #11
Hi @gioman -  When I use all 4 cores on my MacBook it takes about 20 to 25 minutes per iteration on the sample data, so your runtime is not unexpected.
If you run `sysctl -n hw.ncpu`, what's the output?  This is number of CPUs on your system.

[2016-12-14 11:04] gioman commented on #10
@Pbleonard I tried to make things a little more clear for Linux with this PR

https://github.com/Pbleonard/GFlow/pull/12

[2016-12-14 15:09] xgirouxb commented on #11
Hello all, really excited about this software since the paper came out. Decided to take it for a test drive yesterday on ubuntu 16.10 after you updated the linux instructions. I get the same error message when I launch the example on 2 cores (4 virtual cores) with 10gb ram:

"mpiexec noticed that process rank 1 with PID 5374 on node ubuntu exited on signal 9 (Killed)"

Admittedly it's not the idea

[2016-12-14 22:08] Pbleonard commented on #11
@xgirouxb I think the example inputs are rather large for that hardware. I will soon update smaller inputs for the next release within a week.

[2016-12-16 12:41] gioman commented on #11
@Pbleonard Hi. We had finally access to a Ubuntu 16.10 machine with 12 cores and 32GB of RAM and tried to run gflow with a dataset of ours that is a cost map of (rows,cols) = (2225,2727) 50 meters resolution and 210 nodes:

gio@gio:~/GFlow$ sh ./execute_example.sh
/usr/bin/mpiexec
sex dez 16 12:30:33 WET 2016
Fri Dec 16 12:30:33 2016 >> Effective resistance will be written to ./R_eff.csv.
Fri Dec

[2016-12-16 12:47] gioman commented on #11
@Pbleonard got a crash on the same machine also with your new smaller dataset. It seems the nodes coordinates are not overlapping the cost map

[code]

[2016-12-16 13:22] gioman commented on #11
@Pbleonard tested also your original (big) dataset, and it works all as expected. Computing time for each pair is around 45/50 seconds. Any hint about what could be the problem with our dataset? Maybe it isthe coordinate reference systems? Not sure what CRS is used in your test data (doesn't seems either 4326 or 3857).

[2016-12-16 13:59] Pbleonard commented on #11
@gioman thanks for bringing the small dataset to my attention. I know what the problem is there and will correct it shortly. As far as your inputs, I would tinker with the number of cores you're using (e.g., try dividing up your 32gb of RAM across 4 cores or some other combination until you can get a feel for about how much memory is required for each worker core and then scale up). Hope that help

[2016-12-16 16:14] Pbleonard commented on #11
@gioman small inputs in release updated

[2016-12-16 20:06] gioman commented on #11
@Pbleonard

thanks! it works as expected.

On the other hand I cannot get things going with our data. I tried to

lower the number of cpus
lower the number of nodes
lower the cost map extent
lower the cost map resolution

the result is always the same, scripts starts and stops at

`Fri Dec 16 19:59:18 2016 >> Removed 0 islands (0 cells)`

the RAM consumption start to grow up until ~25GB, then

[co

[2016-12-16 20:29] Pbleonard commented on #11
@gioman I believe I understand your problem. The input nodes appear to be in lat/long or geographic coordinates. The software requires coordinates relative to the resistance surface. I can share a script with you to do this OR you can input an .asc grid to GFlow (as your nodes) and it will do it for you automatically.

[2016-12-16 23:59] xgirouxb opened #13 "Implementation of "pairwise mode", similar to Circuitscape"
In Circuitscape, there is a "pairwise mode" option which allows you to calculate effective resistances between all your nodes using `n` runs instead of `n(n-1)/2` runs. Is there a similar setting hiding in the flags of the current implementation of gflow, or is the goal of the current version strictly to produce cumulative current maps based on random nodes?

I noticed that in your ipython noteboo

[2016-12-17 12:39] gioman commented on #11
@Pbleonard

ahh, that's an important detail :)

I'm getting mixed results using nodes as asc, with some subdatasets it works, more frequently I'm getting

[code]

or

[code]

I'll appreciate if you could provide me the script to make further tests with nodes as "coordinates". With regards.

[2016-12-17 14:39] Pbleonard commented on #11
@gioman I updated the ```execute_example.sh``` to describe this. In the meantime please try this script:
[asc-to-nodelist.c.zip](https://github.com/Pbleonard/GFlow/files/658883/asc-to-nodelist.c.zip)

Example:

1. Compile: ```gcc asc-to-nodelist.c -o asc-to-nodelist.x```
2. Execute: ```./asc-to-nodelist.x input/nodes.asc >> output/nodes```
3. Use ```output/nodes``` as input to GFlow

[2016-12-17 14:54] Pbleonard commented on #13
@xgirouxb Pairwise mode is enabled in GFlow by simply not including 2 optional flags: the ```converge_at``` and the ```shuffle_node_pairs```. If absent, the software will calculate all pairwise. The optional flags exist for problems that are large enough that someone doesn't want to wait for all pairwise or does not have enough resources and that is where the random node pair calculations come int

[2016-12-17 16:41] gioman commented on #11
@Pbleonard thanks a lot as usual for the quick feedback. Has the script any switch/flag to translate to relative coordinates only the non NULL pixels in the input node asc file? I'm getting "translated" to relative coordinates all the pixels, also NULLS (defined as -9999 here).

[2016-12-17 16:44] #9 closed

[2016-12-18 16:32] gioman commented on #11
@Pbleonard Hi again,

I think I figured out the cause of most of the problems/errors: pixels must be perfectly square, and in resistance/nodes maps they must have the same size (I think also that at some point with GDAL I outputted a .asc file but that was really a GeoTiff...).

If using as input a subset of our dataset, clipping both the resistance and the nodes maps to a rectangle (resistance ma

[2016-12-19 02:46] Pbleonard commented on #11
@gioman Good to hear you've got it working. A few things:

You are correct that inputs basically have the same requirements as Circuitscape unless you input a list of nodes directly (no grid is required and thus it does not matter about resolution etc.) just that GFlow knows where on the resistance grid a 'node' is located. What I mean to say is you could develop a script or tool that takes points

[2016-12-19 10:57] gioman commented on #11
@Pbleonard Hi! good morning.

there maybe something wrong in the .asc I'm using, the script is definitely not ignoring -9999 cells. Could you kindly add to the test dataset also the .asc version of the nodes, so I can have a look at it?

I didn't really calculated those numbers, just reported what the output shows:

this is what the output looks like for our "small" dataset, that is ~1/3 (in area)

[2016-12-19 11:35] gioman commented on #11
@Pbleonard disregard part of my previous comment, there was something odd in our .asc nodes file. We recreated it and now running gflow on our full dataset:

[code]

[2016-12-19 13:39] Pbleonard commented on #11
@gioman Thats great news. Looks like less than 24 hours there for your big solve? Just in case its still relavent.... here is  a sample .asc for which the script should work
[nodes.asc.zip](https://github.com/Pbleonard/GFlow/files/661171/nodes.asc.zip)

[2016-12-19 14:27] gioman commented on #11
@Pbleonard

yes! this is really great news! 24 hours against 30 days is really a huge improvement, many thanks for you work.

thanks, it is useful indeed as reference. It seems that with the tools I use  (gdal rasterize/translate in this case) not always is returned an .asc file formatted as gflow/cs expects.

cheers!

[2016-12-19 14:27] #11 closed

[2017-01-04 11:21] eduffy commented on #8
Commit e2236e8 adds this capability.  There are two new command line options:
   1. `-output_density_filename` defines the output current density for every iteration
   2. `-output_sum_density_filename` defines the output of the final summed current density

Some things to note:
1. The format of the output is decided by the filename extension.  Options are: `.asc`, `.asc.gz`, and `.amp`.
2. There

[2017-01-04 16:51] Pbleonard commented on #8
@eduffy can't test right now but just double checking: these flags do require use of `' '` in paths unlike before

[2017-01-04 17:02] eduffy commented on #8
No.i just did it that way because of syntax highlighter

sent from my mobile.

On Jan 4, 2017 11:51 AM, "Paul Leonard" <notifications@github.com> wrote:

[2017-02-24 21:05] vanessamata opened #14 "installation error"
Hi,

I've tried following the installation procedure, however I always get a Petsc error that I can't fix:

filipa@work:~/GFlow-0.1.6-alpha$ make
mpicc -g -Wall -O2 -std=c11 -D_GNU_SOURCE -isystem /home/filipa/petsc-3.7.5/include -c gflow.c -o gflow.o
In file included from /home/filipa/petsc-3.7.5/include/petscbag.h:4:0,
                 from /home/filipa/petsc-3.7.5/include/petsc.h:5,

[2017-02-26 10:12] gioman commented on #14
@vanessamata Hi, on what Linux distribution/version are you trying to compile? I was not able to compile on Ubuntu 16.04, but it was smooth on 16.10. As the workstations were I had to do it are all Ubuntu 16.04 or 14.04 I ended compiling/installing GFlow in 16.10 Docker containers (which I may be able to share if you don't manage to compile yourself) and now people can do their maps in a fraction

[2017-02-26 10:24] vanessamata commented on #14
Hi Giovanni!

I am trying to compile it in a 16.04 Ubuntu, exactly. I am open to any possibility that works with this version of Ubuntu, so that would be perfect [😃]  I have a master student that needs to re-do all her analysis, and CS is going to take her ages, not to mention that she has to run it in windows and we often need the computer in Linux.

Thanks!

Vanessa

____________________________

[2017-02-26 13:31] gioman commented on #14
GFlow has dependencies versions that were not that easy to get on 16.04 (at least for me), while on 16.10 compilation it just works, so my suggestion it to use a 16.10 installation.

If you don't want to actually install 16.10 on the computers you need to use then you can follow at least two "workarounds":

1) use a Virtual Machine
2) use a Docker container (which would also work on Windows)

I fo

[2017-02-26 14:18] vanessamata commented on #14
Ok, I managed to set up a dock image of Ubuntu 16.10 and compile Gflow there. However, how do I move files around between the container and the local computer? Sorry, I know this has nothing to do with Gflow anymore, but I'm not very familiar with this.

Thanks!

Vanessa

________________________________
De: Giovanni Manghi <notifications@github.com>
Enviado: 26 de fevereiro de 2017 13:31:53
Para:

[2017-02-27 09:55] gioman commented on #14
Hi Vanessa,
you must/can run the container with a series of flags, ex:

`docker run -it -d  -v /mnt/7CBA9EF41EAB3319/GFLOW:/root/GFlow/gflow_data container_name`

the above will map the local/host folder

` /mnt/7CBA9EF41EAB3319/GFLOW`

to the container one

`/root/GFlow/gflow_data`

Then

`docker exec -it container_name bash`

to get bash/terminal control of the container. You will likely need al

[2017-04-05 19:07] #13 closed

[2017-04-05 19:12] #7 closed

[2017-04-05 19:14] Pbleonard commented on #14
@vanessamata did you get Gflow up and running? Please let me know if you need any additional help.

[2017-04-10 16:17] RMarrec opened #15 "Error message: invalid points"
Hi,
I am running GFlow using different resistance and node data, as well as different spatial extent (20x20km to Alberta extent). In the example presented below, I want to calculate cost-weighted distance between all pairs of nodes.

Even though coordinates given in my node file belong to the map extent, I sometimes face this error message:

In this case, all points seem invalid. Do you know why?

[2017-04-17 21:53] eduffy commented on #15
Hi Ronan - My guess is the problem is because your resistance file is using `-1.#INF` for `NODATA_value`.  The parser is expecting that all the resistance values to be real numbers.  Is it possible for you to change that to `-9999`?

[2017-04-17 22:32] eduffy commented on #15
To quickly change the file, you can run this command:

     sed -e 's/1.#INF/9999/g' -i resistance_Zone1.asc

[2017-06-10 17:54] mairindeith commented on #15
Hi all - I'm having the same issue with my GFlow setup, even when using 9999 as my NODATA_value. Did this solution resolve your problems Ronan?

I'm running Ubuntu 17.04, and have attached my .txt, .tsv, and resistance map file below:
[GFlowIssueFiles.tar.gz](https://github.com/Pbleonard/GFlow/files/1066012/GFlowIssueFiles.tar)

Thanks!
Mairin

[2017-06-12 22:16] eduffy commented on #15
Hi @mairindeith - It looks like the x,y positions in your `nodes.txt` file are transposed.  Try running this to swap the columns:

     awk -e '{print $2, $1}' nodes.txt >nodes2.txt

[2017-06-13 07:54] laurapoggio-sptools opened #16 "Running test problems"
I managed to install GFlow under centos7.2
I compiled PETSC and then Gflow. Make runs without errors but with warnings (I can provide them).
I am trying to run the test script. I changed PETSC directory to the same I used to compile GFlow. I also changed the path for mpiexec (not in the default PATH) and I added full path when calling gflow.x

`/usr/lib64/mpich/bin/mpiexec -n 4 /my_local_directory

[2017-06-13 20:11] mairindeith commented on #15
@eduffy - you're absolutely right, problem solved! Thank you for the quick reply and the quicker bash command to fix it!

[2017-06-14 14:36] eduffy commented on #15
@RMarrec - Did changing the `NODATA_value` value fix the problem?

[2017-06-14 15:11] RMarrec commented on #15
Hi @eduffy - I am very sorry for this long delay before I finally answer you. I tested today what you proposed, and changed "-1#INF" NoData values to -9999 and it works! Thank you so much!
NB- I just replaced values in the original .asc file and did not make this change in a GIS software as I did not find an easy way to do it. I do not know if this "dirty" way of proceed might change anything?
Sor

[2017-06-14 20:05] #14 closed

[2017-06-30 13:03] fgabriel1891 opened #17 "Error in reproducing example: TMPDIR environmental variable"
Hi! I'm trying to replicate the example on a Mac OS Sierra laptop. However after compiling and trying to run the example, I get the following error.

    Fri Jun 30 14:59:39 CEST 2017
    PMIx has detected a temporary directory name that results
    in a path that is too long for the Unix domain socket:

    Temp dir: /var/folders/bp/988s8lhn3zg556kd22vmxmx00000gn/T/openmpi-sessions-501@wcw-
    s

[2017-06-30 18:29] Pbleonard commented on #16
@laurapoggio-sptools I think it is a problem related to MPI. Can you tell me which versions of PETSC and MPI you are using?

[2017-06-30 18:30] #8 closed

[2017-06-30 18:36] Pbleonard commented on #17
@fgabriel1891 Did you use a package manager to install PETSC or do you know the installation folder? If using aptitude as described [here](https://github.com/Pbleonard/GFlow) then the install location will be similar to this `PETSC_DIR=/usr/local/Cellar/petsc/3.7.3/real`

[2017-06-30 20:01] eduffy commented on #16
@laurapoggio-sptools Since you compiled PETSc yourself, can you tell us the what flags you used to configure it?  `gflow` calls `PetscInitialize()` which is supposed to call `MPI_Init()`.  From the error you gave us, it sounds like PETSc may not have been compiled against your MPI library (MPICH).

[2017-06-30 20:05] eduffy commented on #17
@fgabriel1891 - I've never seen that error before, but looks to be documented here:  https://www.open-mpi.org/faq/?category=osx#startup-errors-with-open-mpi-2.0.x

Sounds like you can run `export TMPDIR=/tmp` and be good to go.

[2017-07-10 12:11] fgabriel1891 commented on #17
Sorry I was out of this issue for a little bit. After setting export TMPDIR=/tmp I was indeed able to reproduce the example! Many Thanks!

[2017-07-10 12:11] #17 closed

[2017-07-11 18:19] RMarrec opened #18 "Cells connected to four or eight neighbors?"
Hi. I am wondering if gflow may allow to choose between the use of four or eight neighbors to connect cells together? If not, what is the implemented choice?
Thank you. Ronan.

[2017-07-11 18:27] RMarrec opened #19 "Computing connectivity for a batch of resistance maps"
Hi. I would like to compute connectivity for 50 ASCII resistance maps (10 maps at 5 different resolutions). I use the same node file for all maps at a given resolution (ie 5 node files). Is there a way to run gflow for all maps at once, and not do it manually? Maybe by running the script in a loop? I do not know how to code in linux, that's why I am asking for help!
Thank you if you can help me. R

[2017-07-11 19:47] RMarrec commented on #15
Hi @eduffy - I am using another dataset and face the same issue. But this time the no data value is -9999 (not -INF), and X and Y coordinates are not transposed in the node file. What other eason can create this issue? Thank you for your help.
The error message is following and I join the dataset and execute file.

[datasetRMarrec.zip](https://github.com/Pbleonard/GFlow/files/1140034/datasetRMarre

[2017-07-11 21:18] Pbleonard commented on #19
Hi Ronan, taking this offline. Email sent.

Cheers,
Paul

On Tuesday, July 11, 2017, RMarrec <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-07-11 22:06] #19 closed

[2017-07-11 22:09] Pbleonard commented on #18
@RMarrec, I do not believe we currently have an option. The default is 8 neighbors. Are you up against a problem or setup where you'd like to use 4?

Cheers,
Paul

[2017-07-12 14:47] RMarrec commented on #18
@Pbleonard - I guess 8 neighbors is more realistic, but in some cases, considering 8 neighbors may remove the role as barriers of some elements (especially linear features). Particularly at coarser resolutions.
For instance here with roads considered at a coarser resolution:
![example](https://user-images.githubusercontent.com/27225596/28123564-44b26762-66ef-11e7-8d70-3e9a3ccf4cae.png)
In this cas

[2017-07-12 14:48] RMarrec commented on #18
On the picture, black areas are the less resistant. It is not intuitive, sorry.

[2017-07-14 09:06] laurapoggio-sptools commented on #16
I am just back in the office. Thank you for your reply I will check and be
back to you in the next couple of days.

Thanks

On 30 June 2017 at 21:01, Edward Duffy <notifications@github.com> wrote:

[2017-07-18 21:46] eduffy commented on #15
Hi @RMarrec - It looks like your resistance file has a lot of `0`'s not `-9999`'s.  These are short-circuits, not open-circuits.  Try changing the zeros to NODATA like this:

     sed -e 's/\b0[ \n]/-9999 /g' -i w_1065_energy.asc

[2017-07-18 22:14] eduffy commented on #18
As a quick resolution, you can remove these five lines that check the diagonals:  https://github.com/Pbleonard/GFlow/blob/master/gflow.c#L285-L289

[2017-07-18 22:31] Pbleonard commented on #15
@RMarrec - Also, for the sake of others; node x,y locations cannot be zero as no row or column begins with zero.  As far as scaling resistance goes; resistances that you might treat as` 0` or `1`s should be `-9999` unless in a special case `1` has a meaning different from `-9999` and you would be using both values. And finally, check your headers of resistance files to make sure the case is exactl

[2017-07-19 14:41] RMarrec commented on #15
Thank you all for your answers.
@eduffy - These 0s are "real" 0s, and do not belong to pixels out of the studied, mapped area. In my case I use a range from 0 to 1 based on the degree of human modification. If the location is unmodified, it will have a value of 0, if it is highly modified it will have a value of 1.
@eduffy @Pbleonard - As I understand the no data value (-9999), it applies to pixel

[2017-07-19 14:55] RMarrec commented on #18
@eduffy - Thank you for your answer. It is worth a try, I will do it asap and will let you know.

[2017-07-19 19:14] Pbleonard commented on #15
@RMarrec - You'll notice in Dickson et al. 2016 they rescale resistance `R` : `R = (H + 1)10 + s/4` where `H`  = `HMI` and `s` = `slope`. I would also recommend Belote et al. 2016 for a discussion on scaling resistance values as they also worked with `HMI` in a linear and nonlinear fashion. In short, it is ok to use `1` as a meaningful value of resistance but I would not use `0` as that creates sh

[2017-07-20 14:43] RMarrec commented on #18
@eduffy - The solution you proposed works. I tested it on one single window, and the results were not highly different. It would be good to test for more landscapes and larger extents to evaluate "statistically" the interest of using 4 instead of 8 neighbors. Especially to compare the barrier effect of linear features.

[2017-07-20 14:46] RMarrec commented on #15
@Pbleonard - I use the Dickson's equation to rescale resistance as well. But I did not know it was to avoid 0s because it also affects the distribution of resistance values. However, in circuitscape, 0s are not allowed as resistance values. That is probably why in studies resistance generally ranges from 1 to 10, 100, or 1000.

[2017-07-20 17:38] Pbleonard commented on #18
@RMarrec, given your example above, would you mind posting the 4 connection comparison? Could be useful to others with similar questions.

[2017-07-25 13:21] laurapoggio-sptools commented on #16
Below the compile instructions I used:

`python2 ./configure  --with-mpi-dir=/usr/lib64/mpich`

PETSC version is the latest available in June from [this repository](https://bitbucket.org/petsc/petsc)

mpich was installed using yum on centos 7 and it seems to be version 3.2

I hope this clarify and apologies for the delay.

[2017-07-27 10:51] Lionel68 opened #20 "Installation error with petsc > 3.7.3"
I installed the latest version (3.7.6) of petsc on my ubuntu 16.04 and after changing the $PETSC_DIR in the makefile I get the following error:
~/Downloads/GFlow-0.1.6-alpha$ make
mpicc -g -Wall -O2 -std=c11 -D_GNU_SOURCE -isystem /usr/lib/petscdir/3.7.6/petsc-3.7.6/include -c gflow.c -o gflow.o
In file included from /usr/lib/petscdir/3.7.6/petsc-3.7.6/include/petscbag.h:4:0,
                 from

[2017-08-02 09:42] jmsigner opened #21 "Use of `node_pairs`"
When using the argument `node_pairs`, recognizes the file, runs each pair, but throws an error when finishing up. The error I get is:

[2017-08-02 22:52] xgirouxb commented on #21
I also experienced this error message, but it occurs before anything computes successfully:
/usr/bin/mpiexec
Wed Aug  2 04:49:47 EDT 2017
Wed Aug  2 04:49:47 2017 >> Effective resistance will be written to ./Outputs/R_eff_tw_ocf_5N.csv.
Wed Aug  2 04:49:47 2017 >> Simulation will converge at 0.99999
Wed Aug  2 04:49:47 2017 >> (rows,cols) = (3342,3623)
Wed Aug  2 04:49:50 2017 >> Removed 0 islands

[2017-08-03 16:41] pbleonard commented on #21
@jmsigner @xgirouxb can you please send example node input file with submit script so I can have a look?

[2017-08-03 18:08] pbleonard commented on #21
@jmsigner I was able to successfully reproduce your error with the `node_pairs` flag. As of right now this flag should not be used. However, you should still be able to calculate your problem --  So simply place your list of nodes to calculate behind the `nodes` flag instead. You can still turn on/off the `shuffle_node_pairs` flag if you wish. So based on the examples you sent just try: `-nodes no

[2017-08-03 18:31] jmsigner commented on #21
@pbleonard thanks for your quick reply. When I use `-nodes node_pair_file`, where would I provide the actual coordinates of the nodes? When I just use the above, the node pairs are taken as coordinates. E.g., from the output `Thu Aug  3 18:21:45 2017 >> Solving pair 0 (1 of 1): 1[0,1] to 2[0,2].    0.10 Km apart`, the pairs are interpreted as coordinates, right?

[2017-08-03 18:51] pbleonard commented on #21
@jmsigner All nodes should be input into gflow as coordinates relative to the resistance grid. If you're having problems with inputs you can also simply input an .asc grid of nodes and it will translate to relative coordinates for you.

[2017-08-03 21:01] xgirouxb commented on #21
Here is a link to the inputs and script that cause the error:
https://my.pcloud.com/publink/show?code=XZMqDcZid5b0btkeNJpkgITRLSMMByvJpdk

[2017-08-05 14:06] eduffy commented on #16
Hi @laurapoggio-sptools, can you send me your `configure.log` file that PETSc generated?  On my system it's located at `/usr/local/Cellar/petsc/3.7.3/real/lib/petsc/conf/configure.log`.  My email address is eduffy at gmail.com

[2017-08-06 01:48] eduffy commented on #20
Hi @Lionel68 -Can you double-check your `PETSC_DIR` variable.  On my system its `/usr/local/Cellar/petsc/3.7.3/real`.  Do you have a `/usr/lib/petscdir/3.7.6/petsc-3.7.6/real` directory?

[2017-08-06 07:19] Lionel68 commented on #20
Hi @eduffy, here is the PETSC_DIR variable I set on line 7 of the GFlow makefile: `PETSC_DIR=/usr/lib/petscdir/3.7.6/petsc-3.7.6`, and here are the folders/files in that folder:
`arch-linux2-c-debug      configure          gmakefile   makefile   src
bin                      configure.log      include     make.log   systems
bitbucket-pipelines.yml  configure.log.bkp  interfaces  RDict.log  TAGS
CMa

[2017-08-10 21:58] #21 closed

[2017-08-10 22:19] eduffy commented on #16
Hi @laurapoggio-sptools , I looked that log you emailed me and contains this line:

`ERROR while running executable: Could not execute "/usr/lib64/mpich/bin/mpiexec /tmp/petsc-JSKwiV/config.libraries/conftest":`

And I don't see anything about a successful execution of `mpiexec` or `mpirun` anywhere in the log.  Have you ran anything with this installed MPICH before?

[2017-08-10 22:25] pbleonard commented on #21
@eduffy Should the flag `node_pairs` be deprecated?  or is there a bug? It doesn't appear to work in conjunction with or without `nodes` flag

[2017-08-10 22:59] eduffy commented on #21
@jmsigner - What other flags did you pass to `gflow.x`?  Were you writing the current denisty map at every iteration, or saving the effective resistance?  You said the program crashed at the end, is that the first time any output (other than the terminal) was written?

[2017-08-10 23:11] eduffy commented on #21
@pbleonard - I don't think it should.  `nodes` is required; it defines the focal points.  After that,  you may provide an explicit list of node pairs to solve via the `node_pairs` flag.  It's not an ideal scenario, but this would be useful for using gflow to solve every pair in a high-throughput environment and you want to make sure there's no duplication of effort / wasted computing time.

Can yo

[2017-08-11 05:10] jmsigner commented on #21
@eduffy here are my input files: https://dl.dropboxusercontent.com/u/5554895/gflow.zip

[2017-08-11 07:12] laurapoggio-sptools commented on #16
Hi @eduffy,
No I installed it specigically for gflow. I did not get any obvious errors when installing/compiling, but I did not l look carefully enough in the log.
I will try with a different version then and see what happens.

Thanks a lot for your help.

[2017-08-11 10:03] eduffy commented on #21
Can you send me cost-latest.asc  as well?

On Fri, Aug 11, 2017 at 1:10 AM, jmsigner <notifications@github.com> wrote:

[2017-08-11 10:04] eduffy commented on #16
If you don't have a particular reason using MPICH, I'd go with OpenMPI.
I've generally had more luck with it.

On Fri, Aug 11, 2017 at 3:12 AM, LauraP <notifications@github.com> wrote:

[2017-08-11 22:23] #18 closed

[2017-08-15 21:44] pbleonard commented on #21
@jmsigner I'm apologize I misunderstood your question originally. The `node_pairs` flag is working but expects the node numbers be passed to that file, not the coordinates. So however you assign the node numbers when you originally created the node file. These can be cross-referenced by the log when you run the nodes file normally. Does that help?

[2017-08-16 18:35] jmsigner commented on #21
@pbleonard thanks for getting back about this, would it be possible to have a brief example of the node file and the node pairs file? I am unsure, how to reference to reference nodes. Thanks

[2017-08-16 18:40] jmsigner commented on #21
@eduffy sorry for the delay, in case habitat file is still of interest, here it is: https://dl.dropboxusercontent.com/u/5554895/cost-latest.zip

[2017-08-16 21:40] pbleonard commented on #21
@jmsigner: Please see examples that worked successfully in my tests of your inputs.

[signer.zip](https://github.com/gflow/GFlow/files/1229589/signer.zip)

[2017-08-16 22:42] eduffy commented on #21
@jmsigner - I was able to solve those two node-pairs.  The only thing I changed were the output paths and the number of cores (you do have 28 CPUs to run this on, right?).  The input files were just as you sent them.  Do the directories you're trying to write already exists?  gflow won't automatically create them.

[code]

[2017-08-31 13:40] jmsigner opened #22 "gflow stops unexpectedly"
In the attached example (https://dl.dropboxusercontent.com/u/5554895/ex1.zip) gflow unexpectedly stops after varying number of iterations (usually 100 to 300). The interesting thing is, that if I remove the second line from `nodes_dummy` everything works well (i.e. all iterations are completed).

Any hints on what I am doing wrong would be greatly appreciated.

[2017-09-08 18:55] pbleonard commented on #22
@jmsigner can you please check access to the link? Is it private? Does not work for me.

[2017-09-08 19:43] jmsigner commented on #22
@pbleonard: does this link work: https://www.dropbox.com/s/wleyyihc0l88o6x/ex1.zip?dl=0.

[2017-09-08 21:31] pbleonard commented on #22
@jmsigner : you're attempting to write the output to a directory that may not exist. We have updated GFlow to handle this but here is what I would recommend. In your `output_sum_density_filename` flag please either use `"./filepath"` to reference the current working directory or change the current working directory with the flag `OUTPUT_DIR` flag on line 19 of the execute script.

[2017-09-11 10:35] jmsigner commented on #22
@pbleonard: the directory exists. If remove the seconds line from `nodes_dummy` it runs fine.

[2017-09-11 16:03] pbleonard commented on #22
@jmsigner The problem is not with the second line of `nodes_dummy`. To test, I simply clipped the nodes file (after the first 2 unique pairs -- so that each pair is unique) then randomly selected another node to calculate for 3 unique pairs. Please see the log of me running your inputs as well as your edited `nodes_dummy` file. Please try this input.

[log.txt](https://github.com/gflow/GFlow/files

[2017-09-11 16:53] jmsigner commented on #22
@pbleonard  Surely, the second line is not the problem. But consider the following nodes files (`nodes_dummy`):

[code]

When I run gflow it sometimes works:

[code]

but sometimes randomly fails after x runs. Failure occurs roughly every other run

[code]
It's not big deal, it seems occur even rarer if there are no duplicated nodes, and I have found away to work around it (through repeated calls)

[2017-09-11 17:17] pbleonard commented on #22
@jmsigner Thank you for pointing this out. I'm not exactly sure why this is happening but my immediate guess is that its related to repeating pairs. Also, it appears your convergence factor values are spurious. Hm...

[2018-01-22 22:49] jmsigner opened #23 "Running gflow on a cluster"
When attempting to run gflow on a cluster, I am experiencing problems when the number of cores exceeds 16.

I am using the following script to submit a job:

[code]

The above works as expected, but if I increase `-n` to lets say 128 (both `#BSUB -n 128` and `mpiexc -n 128`), I get the following output:

[code]

And nothing happens afterwards. Do I miss a `gflow` specific argument in the LSF speci

[2018-01-30 22:13] whositwhatnow opened #24 "Gflow on CentoOS 7"
I am wondering if anyone successfully got this working on Cetnos 7?  If not will a port be available?

[2018-01-31 21:41] whositwhatnow commented on #16
@laurapoggio-sptools i'd like to touch base with you to see how you successfully got this working on CentOS 7

[2018-02-01 11:15] eduffy commented on #23
Hi @jmsigner - I noticed you don't have a memory request; if your scheduler's default limit is low you may be hitting the limit with the increase in node count (more memory needed for mpi's communication).

If that's not it, your simulation may not be big enough for 128 cores.  We used fewer than that for 10s of millions of unknowns, and it was only taking 4 seconds per iteration.  Does it hang wi

[2018-02-03 09:16] laurapoggio-sptools commented on #16
I did some tests but I was not successful. I had to leave it on a side for a while as other projects were more urgent. I will give an other go later in the year. Probably March or April. Apologies for not updating the issue.

Thanks

[2018-02-26 10:15] famarques opened #25 "Issue calculating pairwise interactions"
Hello,
i´m using GFlow to calculate connectivity beetwen points in europe-wide lenght. I´ve changed the execute_example.sh flags to calculate pairwise interactions beetween all nodes. I tried a lot of changes on the flags but in all GFlow stops calculating before all pairwise nodes been calculated.
In annex the files that i´m using and the execute_example.sh file modified with my configurations.

[2018-02-27 19:03] pbleonard commented on #25
@famarques Can you be more specific about

I attempted to execute your example and noticed many of the points appear to be invalid.

[2018-02-27 20:52] famarques commented on #25
Thanks for response,
i´m trying to calculate all interactions between points like circuitscape, but the program stops and write the results before all pairs are calculated. For example in the species of those nodes i´ve points in UK that are not showed in the results.

Yes, but It happened also before it another species that i´ve tried to calculate, and have all or almost all points valid.

The po

[2018-02-27 20:57] #16 closed

[2018-02-27 21:09] pbleonard commented on #25
If you chose not to include the `converge_at` flag then **all pairwise** will be calculated unless there are > 1 million pairs (in this case we are aware of a bug). gflow will not calculate any pairwise connection with infinite resistance or with pairs that are not constrained inside the resistance surface. Can you tell me how you're making your points text file?

[2018-03-01 01:09] pbleonard commented on #25
Great. Can you test with a subset of your pairs?

[2018-03-12 14:51] famarques commented on #25
I will test it, now im working in another thing, but when i have time i will try it

[2018-03-13 19:32] pbleonard commented on #22
@jmsigner Can you confirm that you are using Hypre as your preconditioner? Did your installation of hypre have problems? I have recently seen a similar problem when Petsc defaulted to a different package.

[2018-03-13 19:32] #23 closed

[2018-03-13 21:50] pbleonard commented on #25
@eduffy fixed the bug [here](https://github.com/gflow/GFlow/commit/b2c0b426a990ebc924cd5cac1b6caf5372ce12c0) (should already be included in release v. 0.1.7):

[2018-05-07 17:12] HossamGhub commented on #15
Hi Paul and Edward, @pbleonard @eduffy

First, thanks much for the great software! I am continuing Ronan's @RMarrec work on Alberta's resistance maps. I have no problems when I work with 100m resolutions maps. Once I start my Gflow runs on 30m and 10m resolutions I run into two main issues. First, the invalid nodes "points" that Ronan faced, and secondly, I think, a computing performance  issue wi

[2018-05-08 23:05] eduffy commented on #15
Hi Hossam -

Glad you find this program useful!

1. Can you send us a link to a resistance map that you're getting the invalid nodes error on.
2. Fixing your performance issue is tricky without access to the system you're on.  How many unknowns are you trying to solve?  How many CPUs?
3. Every cluster is set up differently.  Many use a command called "modules" to setup your environment (such as ch

[2018-05-09 01:38] HossamGhub commented on #15
Hi Edward,

Thank you for your reply, much appreciated! Please have a look at the screenshot for the message I get when I run Gflow on the 10m resolution map. I am still trying with the 30m resolution map and I will know tomorrow. Also I forwarded your message to out cluster admin here at UTM to see what he can do.

Best,

Hossam

[2018-05-29 17:30] #25 closed

[2018-05-29 17:33] pbleonard opened #26 "Repeating Node Pairs - Convergence Calculation"
If user has repeating input nodes (either to weight individual pairwise calculations OR by accident) with the same x,y coordinates, the convergence factor is not calculated properly.

[2018-05-29 17:36] pbleonard opened #27 "Weighting Pairwise Calculations"
Users would like a way to weight individual nodes (e.g., input more current)

[2018-06-07 19:37] HossamGhub commented on #15
Hi Edward,

I am trying to use Gflow on computecanada (Niagara HPC) to compute connectivity using a 10m resolution resistance map for the extent of Alberta, Canada. After I successfully compiled and installed Gflow on Niagara, I started with a computation that I know for sure works (working with the 100m resolution). However, I ran into different memory problems. I needed to modify the bash script

[2018-06-07 23:20] eduffy commented on #15
Hi Hossam- yes, we've solved over a billion unknowns on at least 400 CPUs.
I'm not sure what that 300gb allocation at startup is; we wrote this to be
very memory conscience. What log is your admin referencing? Can you email
that to me

sent from my mobile.

On Thu, Jun 7, 2018, 3:37 PM HossamGhub <notifications@github.com> wrote:

[2018-06-11 04:29] HossamGhub commented on #15
Dear Edward,

Please see the thread below regarding the memory problem I have with Gflow on Niagara-SciNet. Please advise…

Thanks much,
Hossam

I want to share sth which is probably the reason of the error. Please follow carefully.

This is the log file from one of the simulations:
fertinaz@nia-login06:/scratch/s/scinet/fertinaz/GFlow$ more log.gflow.nn08.txt
Thu Jun  7 00:24:12 2018 >> Effective

[2018-06-11 06:08] HossamGhub commented on #15
@eduffy @pbleonard @RMarrec

Hi Edward and Paul
[code_and_output_error.zip](https://github.com/gflow/GFlow/files/2088852/code_and_output_error.zip)

Please see the thread below regarding the memory problem I have with Gflow on Niagara-SciNet. Please advise…

Thank you very much and sorry to bothering you,
Hossam

Did you share your log files with the developers of GFlow? Could you try a smaller si

[2018-06-13 00:45] eduffy commented on #15
Hossam - The only thing that looks strange in your bash script is that
you're sending your output to the "/" directory. While that will probably
cause problems, that doesn't account for the "out of memory" error.
 Does your cluster allow for guest accounts?  It'll be quicker and easier
if I can log in and try to run this myself, instead of going through this.

On Mon, Jun 11, 2018 at 2:08 AM, Hoss

[2018-06-13 02:30] HossamGhub commented on #15
Hi Fatih and Edward,

Thank you so much both! I really appreciate all your help and support in this process. Edward, please see the message from Fatih below. Please CC me as well as I would like to learn what went wrong or how to do that independently in the future.

Best,
Hossam

On Jun 12, 2018, at 10:17 PM, Fatih Ertinaz <fertinaz@scinet.utoronto.ca<mailto:fertinaz@scinet.utoronto.ca>> wrote:

[2018-12-05 15:46] whositwhatnow opened #28 "Compiling error Centos 7"
I have all dependencies, but when I go to make the gflow app I get the following error.

I have no clue what is going on:

/cm/shared/apps/openmpi/gcc/64/1.10.1/bin/mpicc gflow.o util.o habitat.o nodelist.o output.o -o gflow.x -lpthread -lz -lm -L/cm/shared/apps/petsc/3.10.2/lib -lpetsc
/bin/ld: /cm/shared/apps/petsc/3.10.2/lib/libpetsc.a(dlimpl.o): undefined reference to symbol 'dlclose@@GLIBC_2.

[2018-12-05 15:58] #24 closed

[2019-01-24 18:30] glaroc opened #29 "X and Y in nodes file inverted?"
Hi, I was trying to understand how to properly enter the coordinates in the nodes file. From my understanding and tests, it seems like this is the row and then the column number from the top left of the resistance raster. Is this right? So, this means this is Y followed by X, not X followed by Y as written in the doc and the article. Thanks!

[2019-04-19 21:54] chaw0023 commented on #20
I am trying to compile with `petsc v3.4.5` and I am getting the same error. @lionel68 were you able to resolve this?

`In file included from petsc-3.4.5/include/petscis.h:7:0,
                 from petsc-3.4.5/include/petscvec.h:9,
                 from petsc-3.4.5/include/petscmat.h:6,
                 from petsc-3.4.5/include/petscpc.h:6,
                 from petsc-3.4.5/include/petscksp.h:6,

[2019-11-15 04:16] albird42 opened #30 "Install issue"
Where do I find petsc.h when I enter make I get the error

~/Downloads/GFlow-master$ make
mpicc -g -Wall -O2 -std=c11 -D_GNU_SOURCE -isystem /usr/local/Cellar/petsc/3.7.3/real/include -c gflow.c -o gflow.o
gflow.c:27:10: fatal error: petsc.h: No such file or directory
 #include <petsc.h>
          ^~~~~~~~~
compilation terminated.
make: *** [Makefile:12: gflow.o] Error 1

[2019-11-15 18:54] pbleonard commented on #30
Does your petsc path match: `/usr/local/Cellar/petsc/3.7.3/real/`

If you encounter errors related to PETSc, you may have to edit the `Makefile` to change the value of the `PETSC_DIR` variable.

[2019-11-15 19:01] albird42 commented on #30
Yes it does

On Fri, Nov 15, 2019, 2:54 PM Paul Leonard <notifications@github.com> wrote:

[2020-06-19 02:43] yjx4131 opened #31 "error in compiling GFlow with pestc >= 3.7.3, cannot find petscconf.h"
I try to compile GFlow (version = 0.1.7) with petsc version = 3.7.3.
I have changed the PETSC_DIR  in the makefile to PETSC_DIR=/users/jyang71/Gflow/petsc-3.7.3

when I compile GFlow I got the following error:
_mpicc -g -Wall -O2 -std=c11 -D_GNU_SOURCE -isystem /users/jyang71/Gflow/petsc-3.7.3/include -c gflow.c -o gflow.o
In file included from /users/jyang71/Gflow/petsc-3.7.3/include/petscbag.h:4